.asset-details {
    header {
        display: flex;
        margin-bottom: 15px;
    }

    .image-thumb {
        width: 400px;

        img {
            width: 100%;
        }
    }

    .image-meta {
        margin-left: 25px;

        .image-meta-item {
            margin-bottom: 15px;

            input {
                display: block;
            }
        }
    }
}